.App {
    min-height: 100vh; /* 세로 최소 100% 뷰포트 높이 */
    max-width: 1920px; /* 최대 너비 1920px */
    margin-left: auto;
    margin-right: auto; /* 좌우 중앙 정렬 */
    width: 100%; /* 가로는 100%지만 max-width 제한 */
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}
